  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style/footer.css">
  <div id="footer-content">
    <div id="first-footer-div-content">
      <h1 id="footer-lable" style="color: #FDB446; margin-bottom: 10px;">OsvitaHUB</h1>
    </div>
    <div id="second-footer-div-content">
      <div id="img-container-footer" style="gap: 30px;">
    <a class="link-for-contavt-footer-under-img" href="<%= contacts?.instagram %>" target="_blank">
      <img class="link-for-contavt-footer" src="/img/instagram-link-img.png" alt="Instagram">
    </a>
    <a class="link-for-contavt-footer-under-img" href="<%= contacts?.tiktok %>" target="_blank">
      <img class="link-for-contavt-footer" src="/img/tiktik-kink-img.png" alt="TikTok">
    </a>
    <a class="link-for-contavt-footer-under-img" href="<%= contacts?.facebook %>" target="_blank">
      <img class="link-for-contavt-footer" src="/img/facebook-link-img.png" alt="Facebook">
    </a>
    <a class="link-for-contavt-footer-under-img" href="<%= contacts?.telegram %>" target="_blank">
      <img class="link-for-contavt-footer" src="/img/telegram-link-img.png" alt="Telegram">
    </a>
    <a class="link-for-contavt-footer-under-img" href="<%= contacts?.whatsapp %>" target="_blank">
      <img class="link-for-contavt-footer" src="/img/watsapp-link-img.png" alt="WhatsApp">
    </a>
    <a class="link-for-contavt-footer-under-img" href="<%= contacts?.viber %>" target="_blank">
      <img class="link-for-contavt-footer" src="/img/viber-link-img.png" alt="Viber">
    </a>
    <div class="phone-wrapper">
      <img width="45px" class="phone-icon" src="/img/telephone-link-img.png" alt="Phone">
      <a class="phone-number" href="tel:<%= contacts?.phoneNumber %>"><%= contacts?.phoneNumber %></a>
    </div>
  </div>
      <div>
        <a id="feedback-link" href="/feedbacks/#write_feedbacack">Напишіть відгук</a>
      </div>
    </div>
  </div>
  <script src="/js/footer-animations.js"></script>